.table {
  background-color: $white-color;
  text-align: left;
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: $secundary-color;
    color: $white-color;
    border-bottom: solid 5px $primary-color;
  }

  th,
  td {
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: lighten($secundary-color, 30%);
  }

  tr:hover td {
    background-color: lighten($secundary-color, 24%);
    transition: background-color 300ms ease;
  }  

}
