$font_1: 'Roboto', sans-serif;
$font_2: 'Lato', sans-serif;
$primary-color: #2196f3;
$secundary-color: #4fc3f7;
$info-color: #ff8500;
$success-color: #ff8500;
$warning-color: #ff8500;
$alert-color: #ff8500;
$white-color: #ffffff;
$black-color: #000000;
$background-color: #ececec;


$fs: (
  big: 24px,
  normal: 16px,
  small: 14px,
  x-small: 12px
)